<h1>Change Password</h1>
<form method="post" action="{% url 'users:django.contrib.auth.views.password_change'%}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change">
</form>