<h1>Delete User</h1>
<p>This cannot be reversed. Are you sure?</p>
<form action="{% url 'users:delete' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Yes!"/>
</form>
<p><a href="{% url 'users:settings' %}">No!</a></p>