{% load mentions %}

<h1>Feed</h1>
<hr/>
<h2>Logged In: {{ user.email }}!</h2>
<a href="{% url 'users:django.contrib.auth.views.logout' %}">Logout</a><br/>
<a href="{% url 'users:settings' %}">Settings</a><br/>
<a href="{% url 'users:people' %}">People</a><br/>
<hr/>
<h2>Create a new tweet!</h2>
<form action="{% url 'tweets:create' %}" method="post">
    {% csrf_token %}
    {{ tweet_form.as_p }}
    <input type="submit" value="Tweet!">
</form>
<hr/>
<h2>Your Tweets</h2>
{% for tweet in user.tweet_set.all %}
    {{ tweet|linked_tweet|safe }}
    <p><strong>Created At:</strong> {{ tweet.created_at }}</p>
    <hr/>
{% endfor %}