<h1>Homepage</h1>
<hr/>
<h2>Register Here</h2>
<form action="{% url 'users:register' %}" method="post">
    {% csrf_token %}
    {{ register_form.as_p }}
    <input type="submit" value="Register">
</form>
<hr/>
<h2>Login Here</h2>
<form action="{% url 'users:django.contrib.auth.views.login' %}" method="post">
    {% csrf_token %}
    {{ auth_form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <input type="submit" value="Login">
</form>