<h1>Login</h1>
<hr/>
<form action="{% url 'users:django.contrib.auth.views.login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <input type="submit" value="Login">
</form>