<h2>Following ({{ user.following.count }}):</h2>
{% for item in user.following.all %}
    <p><a href="{% url 'users:profile' item.followed.username %}">{{ item.followed.username }}</a></p>
{% endfor %}

<h2>Followed By ({{ user.being_followed_by.count }}):</h2>
{% for item in user.being_followed_by.all %}
    <p><a href="{% url 'users:profile' item.followed_by.username %}">{{ item.followed_by.username }}</a></p>
{% endfor %}
