<h1>Profile Page</h1>

<p><strong>Username:</strong> {{ profile_user.username }}</p>
<p><strong>Email:</strong> {{ profile_user.email }}</p>
<p><strong>Name:</strong> {{ profile_user.get_full_name }}</p>
<p><strong>One Liner:</strong> {{ profile_user.one_liner }}</p>

<hr/>
{% if not self_profile %}
    {% if following %}
        <p>
        <form action="{% url 'users:unfollow' profile_user.username %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Unfollow"/>
        </form>
        </p>
    {% else %}
        <p>
        <form action="{% url 'users:follow' profile_user.username %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Follow"/>
        </form>
        </p>
    {% endif %}
    {% if followed_by %}
        <p>{{ profile_user.username }} follows you</p>
    {% endif %}
    <hr/>
{% endif %}

{% if user.is_authenticated %}
    Logged-in user: {{ user.username }}
{% endif %}