<h1>Settings</h1>
<form action="{% url 'users:settings' %}" method="post">
    {% csrf_token %}
    {{ settings_form.as_p }}
    <input type="submit" value="Save">
</form>
<hr/>
<a href="{% url 'users:django.contrib.auth.views.password_change' %}">Change Password</a>
<hr/>
<a href="{% url 'users:delete' %}">Delete Account</a>
<hr/>
Back to <a href="{% url 'home' %}">home</a>
